server:
  port: 8081

spring:
  application:
    name: auth-service
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
security:
  jwt:
    secret: ${JWT_SECRET}
    access-token-ttl-seconds: ${JWT_ACCESS_TOKEN}
    refresh-token-ttl-seconds: ${JWT_REFRESH_TOKEN}
    issuer: moodly-auth
    audience: moodly-api
    roles-claim: roles

logging:
  level:
    org.springframework.security: DEBUG

