server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: auth-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:update}
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true

security:
  jwt:
    secret: ${JWT_SECRET}
    access-token-ttl-seconds: ${JWT_ACCESS_TTL:900}
    refresh-token-ttl-seconds: ${JWT_REFRESH_TTL:604800}
