server:
  port: 8082

spring:
  application:
    name: user-service
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true

security:
  jwt:
    issuer: moodly-auth
    audience: moodly-api
    roles-claim: roles

app:
  mail:
    from: ${NAVER_MAIL_USERNAME}