spring:
  datasource:
    url: jdbc:h2:mem:testdb_product;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true

security:
  jwt:
    common:
      secret: "bW9vZGx5LXRlc3Qtand0LXNlY3JldC0yMDI2" # 테스트용 secret
      access-token-ttl-seconds: 900
      refresh-token-ttl-seconds: 604800
      issuer: moodly-auth
      audience: moodly-api
      roles-claim: roles