spring:
  config:
    activate:
      on-profile: local

  data:
    redis:
      host: localhost
      port: 6379

  datasource:
    url: jdbc:mysql://localhost:3312/moodly_product?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=utf8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver


security:
  jwt:
    common:
      secret: ${JWT_SECRET}

#security:
#  jwt:
#    secret: ${JWT_SECRET}
#    access-token-ttl-seconds: ${JWT_ACCESS_TOKEN}
#    refresh-token-ttl-seconds: ${JWT_REFRESH_TOKEN}