spring:
  config:
    activate:
      on-profile: docker

  data:
    redis:
      port: 6379
      host: localhost

  datasource:
    url: jdbc:mysql://moodly-product-db:3306/moodly_product?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=utf8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

security:
  jwt:
    secret: ${JWT_SECRET}
    access-token-ttl-seconds: ${JWT_ACCESS_TOKEN}
    refresh-token-ttl-seconds: ${JWT_REFRESH_TOKEN}