spring:
  config:
    activate:
      on-profile: docker

  data:
    redis:
      host: moodly-redis
      port: 6379

  kafka:
    enabled: ${KAFKA_ENABLED:true}
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:moodly-kafka:29092}

  datasource:
    url: jdbc:mysql://moodly-product-db:3306/moodly_product?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=utf8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

security:
  jwt:
    common:
      secret: ${JWT_SECRET}