spring:
  config:
    activate:
      on-profile: docker

  data:
    redis:
      port: 6379

  datasource:
    url: jdbc:mysql://moodly-cart-db:3306/moodly_cart?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=utf8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always

security:
  jwt:
    common:
      secret: ${JWT_SECRET}
